
.jumbotron#navBar{
	height: 30px;
}

.jumbotron{

	height: 720px;
	margin-bottom: 550px;
}

.navbar{
	background-color: #000000;
	font-family: 'Lobster', cursive;
	padding-bottom: 10px;	
	margin-bottom: -50px;
	width: 100%;
}


#logo{
	font-family: 'Lobster', cursive;
	color: white;
	text-align: center;

}

#aboutUs{
	margin-right: 20px;
}

.carousel-inner{
	height: 720px;
	width: 100%;
}

/*.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    border: 250px,;
    position: relative;
    left: 500px;
    margin-top: 200px;
}*/

h1#abouttitle{
text-align: center;

}

#aboutUsmodal{
	background-color: #fff;
	display: block;
    position: absolute;
    left: 60%;
    height: 88%;
    width: 28%;
    overflow-y:auto;
    overflow-x:auto;
    border-radius: 0px
}
h3#modalcontent{
	text-align:center;
	font-family: 'Cabin Condensed', sans-serif;
}

p#modalpara{
	text-align:center;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 22px;
	margin: 15px;
}

.btn-primary{
	float: right;
	clear: both;
	margin-right: 50px;
	margin-top: -45px;
	background-color: #000;
	font-size: 18px;
	border: none;

}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active
{
  background-color: #000;
  border: none;
}

.btn-primary:hover
{
  background-color: gray;
  border: none;
}

.carousel-control right{

	height: 100px;

}

.carousel-control left{
	float: left;
}

#rightArrow{
	font-size: 75px;
	margin-top: 360px;
}

#leftArrow{
	font-size: 75px;
	margin-top: 360px;
}

